@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(./reset.css);

:root {
	--colors-primary-400main: #2d609b;
	--colors-primary-500variant: #4680b0;
	--colors-primary-100variant: #0d1e4a;

	--accent: #7ebbed;

	--colors-background-gray-100main: #f2f2f2;
	--colors-background-blue-300: #bad0e2;
	--colors-background-gray-500disabled: #dcd8e0;
	--colors-background-gray-200modal: #f7f2fa;
	--colors-background-white-label: #fef7ff;

	--colors-text-black-300: #333;
	/* --colors-text-gray-200: #1d1b20; */
	--colors-text-gray-400: #a8a3ab;
	--colors-text-gray-600outline-labels: #49454f;
	--colors-text-black-200: #49454f;

	--colors-outline-gray-900border: #79747e;
	--colors-outline-gray-400disabled: #bcbabf;
	--colors-outline-gray-300icons: #c4cdd5;
	--colors-outline-gray-300light: #d3d3d3;

	--colors-success-500: #12b76a;
	--colors-success-100: #d1fadf;


	--font-family: "Roboto", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: -webkit-fill-available;
	min-height: 100dvh;
	/* min-height: 100vh; */
}

.header {
	background: var(--colors-background-blue-300);
	border-bottom: 1px solid var(--colors-outline-gray-900border);
	padding: 0.5rem;
}

.header_gray-bg {
	background: var(--colors-background-gray-100main);
}

.header-flex {
	display: flex;
	align-items: center;
}

.header_title {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 0.875rem;
	color: var(--colors-text-black-300);
}

.header_title-ml {
	margin-left: 0.5rem;
}

.header_btns {
	display: flex;
	flex-grow: 1;
	justify-content: end;
}

.header_btns button {
	display: flex;
	align-items: center;
	padding: 0.25rem 0.813rem;
	border-radius: 6.25rem;
	background: var(--colors-primary-400main);
	color: #fff;
	font-family: var(--font-family);
	font-weight: 500;
	letter-spacing: 0.01em;
	font-size: 0.625rem;
}

.header_btns button span {
	margin-left: 0.188rem;
}

.header_btns button + button {
	margin-left: 0.25rem;
}

.main {
	background: var(--colors-background-gray-100main);
	flex-grow: 1;
}

.main_listOfData {
	width: calc(100% - 1rem);
	border: 1px solid var(--colors-outline-gray-900border);
	border-radius: 0.25rem;
	margin-inline: auto;
	margin-top: 0.25rem;
	max-height: 79vh;
	overflow-y: scroll;
}

.listOfData_item {
	border-bottom: 0.20px solid var(--colors-outline-gray-900border);
	padding: 0.25rem;
}

.listOfData_item h4 {
	font-family: var(--font-family);
	font-size: 0.75rem;
	letter-spacing: 0.04em;
	color: var(--colors-text-black-300);
}

.listOfData_item p {
	font-family: var(--font-family);
	font-size: 0.625rem;
	letter-spacing: 0.03em;
	color: var(--colors-text-gray-600outline-labels);
	font-weight: 400;
}

.listOfData_item p span{
	font-weight: 900;
}

.main_form {
	width: calc(100% - 1rem);
	margin-top: 3.375rem;
	margin-inline: auto;
}

.form_item {
	border: 1px solid var(--colors-outline-gray-900border);
	border-radius: 0.25rem;
}

.form_item legend {
	background: var(--colors-background-white-label);
	color: var(--colors-text-gray-600outline-labels);
	font-weight: 400;
	font-size: 0.75rem;
	margin-left: 0.7rem;
	padding: 0.3rem;
}

.form_item input {
	width: 100%;
	padding: 0.3rem 0.3rem 0.68rem 0.3rem; 
	font-size: 0.938rem;
	font-weight: 400;
	letter-spacing: 0.03em;
	color: var(--colors-text-black-300);
}

.border_color-error {
	border: 2px solid red;
}

.border_color-success {
	border: 2px solid green;
}

.form_error-text {
	font-family: var(--font-family);
	font-size: 0.7rem;
	color: red;
}

.form_btns {
	display: flex;
	outline: none;
	justify-content: center;
	padding: 0.375rem 2.625rem;
	margin-top: 0.25rem;
}

.form_btns button {
	font-family: var(--font-family);
	border-radius: 6.25rem;
	border: 1px solid var(--colors-outline-gray-900border);
	font-size: 0.875rem;
	font-weight: 500;
	letter-spacing: 0.01em;
	text-align: center;
	padding: 0.625rem 1.5rem;
}

.form_btns > button + button {
	margin-left: 0.625rem;
}

.btn_bg-blue {
	background: var(--colors-primary-400main);
	color: var(--colors-background-gray-100main);
}

.btn_border-none {
	border: none;
}

.btn_bg-transparent{
	background: transparent;
}

.btn_color-blue{
	color: var(--colors-primary-400main);
}

.main_menu {
	padding-top: 0.5rem;
}

.menu_item a{
	padding: 0.813rem;
	display: flex;
	align-items: center;
}

.menu_text {
	margin-left: 0.75rem;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 0.875rem;
	letter-spacing: 0.04em;
	color: var(--colors-text-gray-400);
}

.none-ml {
	margin-left: 0;
}

.selectedText {
	color: var(--colors-text-black-300);
}

.menu_item .selectedIcon > path{
	stroke: var(--colors-text-black-300)
}

.menu_item svg path{
	stroke: var(--colors-text-gray-400);
}

.footer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
	background: var(--colors-background-gray-100main);
	/* position: absolute;
	bottom: 0; */
}

.footer_item a{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.313rem 0.25rem;
	justify-content: center;
}

.footer_item a {
	color: var(--color-text-black-300);
}

.footer_item span {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 0.75rem;
	letter-spacing: 0.04em;
	text-align: center;
	line-height: 133%;
}

